<%= render 'admins/navbar' %>

<section>
  <% if @admins.any? %>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
      </tr>
      <% @admins.each do |admin| %>
        <tr>
          <td><p><%= admin.name %></p></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h3>There are no admins.</h3>
  <% end %>
</section>
