<%= render 'admins/navbar' %>

<section>
  <% if @admins.any? %>
    <% @admins.each do |admin| %>
      <div>
        <p><%= admin.name %></p>
      </div>
    <% end %>
  <% else %>
    <h3>There are no admins.</h3>
  <% end %>
</section>
