<% if @admin.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@admin.errors.count, "error") %>
      kept this admin from being saved:</h3>
    <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
