<%= render 'form' %>

<% if !@links.empty? %>
  <section>
    <table class="table table-striped">
      <thead>
        <tr>
          <td colspan="2">
            <h3>recently tagged links</h3>
          </td>
        </tr>
      </thead>
      <tbody>

        <% @links.each do |link| %>
          <tr class="bottom-padding-small">
            <td>
              <%= link_to "<i class=\"icon-trash icon-white\"></i>".html_safe, link,
                    method: :delete,
                    class: "btn btn-mini btn-danger" %>
            </td>
            <td>
              <h4><%= link_to link.url, link.url %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </section>
<% end %>
