<%= render 'form' %>

<% if flash[:created] %>
  <h1 style="line-height:2em;">Tagged Link: <%= link_to @tagged_link.url %></h1>
<% end %>

<% if !@links.empty? %>
  <table>
    <tr>
      <th>recently tagged links</th>
      <th></th>
    </tr>
  
  <% @links.each do |link| %>
    <tr>
      <td><%= link_to link.url %></td>
      <td><%= link_to 'Destroy', link, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
<% end %>
</table>
