<%= render 'form' %>

<% if flash[:created] %>
  <section>
    <h1>Tagged Link: <%= link_to @tagged_link.url, @tagged_link.url %></h1>
  </section>
<% end %>

<% if !@links.empty? %>
  <section>
    <h3>recently tagged links</h3>
  
    <% @links.each do |link| %>
      <div class="bottom-padding-small">
        <h4><%= link_to link.url, link.url %>
        <%= link_to 'Delete', link,
                    method: :delete,
                    class: "btn btn-mini btn-danger" %>
              </h4>
      </div>
    <% end %>
  </section>
<% end %>
